div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}
div .fb_reset {
    display: inline;
}
.platinum-sponsor-images{
    vertical-align:top;
    width:360px;
    padding-bottom:5px;
}
.gold-sponsor-images{
    vertical-align:top;
    width:180px;
    padding-bottom:5px;
}
.silver-sponsor-images{
    vertical-align:top;
    width:120px;
    padding-bottom:5px;
}
.media-partner-images{
    vertical-align:top;
    width:90px;
    padding-bottom:5px;
}
.community-partner-images{
    vertical-align:top;
    width:90px;
    padding-bottom:5px;
}
.subtitle{
    font-size:16px;
    line-height:20px;
}
.subsubtitle{
    font-size:14px;
    line-height:18px;
}
.sublabel{
    padding-left:5px;
}
.twitter-input{
    background:url('../img/@sign.gif') no-repeat left center #FFFFFF;
    padding-left:15px;
}
.padded-element{
    padding: 20px 20px 40px 20px;
}
.textarea-half{
    max-width:400px;
    min-width:400px;
    min-height:150px;
}