body{

}
.partner-images{
    vertical-align:top;
    width:180px;
    padding-bottom:5px;
}
.subtitle{
    font-size:16px;
    line-height:20px;
}
.sublabel{
    padding-left:5px;
}
.twitter-input{
    background:url('../img/@sign.gif') no-repeat left center #FFFFFF;
    padding-left:15px;
}
.padded-element{
    padding: 20px 20px 40px 20px;
}
.textarea-half{
    max-width:400px;
    min-width:400px;
    min-height:150px;
}